Repository echo-labs-team/the-resonance-project, pull requests merged in 2020-05, with the labels that each got.

#203 update prayer request link
  screens/PrayerRequests.js
Labels: 🤜 🤛 CONNECT

#205 update Connect config and remove Activate
  config/connect.js
  screens/Connect.js
Labels: 🤜 🤛 CONNECT

#218 refactor youtube API integration & add tests
  data/__tests__/__snapshots__/youtube.js.snap
  data/__tests__/youtube.js
  data/youtube.js
  navigation/AppNavigator.js
  screens/Media.js
  screens/Playlist.js
Labels: 📽 MEDIA

#160 Add native support for PlaylistItems
  data/__tests__/__snapshots__/youtube.js.snap
  data/__tests__/youtube.js
  data/youtube.js
  navigation/AppNavigator.js
  screens/Media.js
  screens/Playlist.js
Labels: 📽 MEDIA

#204 add Formik for forms 🔥
  components/AskAboutGroupModal.js
  components/AskAboutGroupModal.stories.js
  components/JoinGroupModal.js
  components/JoinGroupModal.stories.js
  components/ModalSheet.js
  components/__tests__/__snapshots__/ModalSheet.js.snap
  components/shared/TextInput.js
  components/shared/TextInput.stories.js
  data/groups.js
  package-lock.json
  package.json
  storybook/CenterView.js
  storybook/storyLoader.js
  utils/formValidation.js
  utils/groups.js
Labels: 👥 GROUPS

#219 add ability to tab thru forms ⏭
  components/AskAboutGroupModal.js
  components/JoinGroupModal.js
  components/shared/TextInput.js
Labels: 👥 GROUPS

#220 Fixes bug in youtube.js with videoId fetching
  data/youtube.js
Labels: 🐛 bug, 📽 MEDIA

#221 update group categories endpoint, add Online campus, and fix content
  components/AskAboutGroupModal.js
  components/GroupFilterModal.js
  components/JoinGroupModal.js
  data/__tests__/__snapshots__/groups.js.snap
  data/__tests__/groups.js
  data/groups.js
  screens/GroupDetails.js
Labels: 👥 GROUPS
