Repository echo-labs-team/the-resonance-project, pull requests merged in 2020-06, with the labels that each got.

#223 fix Group cards and add a story for it
  components/GroupCardDetails.js
  components/GroupCardDetails.stories.js
  components/__tests__/__snapshots__/GroupCardDetails.js.snap
  data/config.js
  data/groups.js
  screens/Groups.js
  storybook/storyLoader.js
  utils/formValidation.js
Labels: 👥 GROUPS

#236 fix wordpress post image src & blog post priority
  data/blogPosts.js
  screens/Home.js
Labels: 🏠 HOME, 🐛 bug

#240 fix tests
  .eslintignore
  .prettierignore
  components/GroupCardDetails.js
  components/__tests__/GroupAddress.js
  components/__tests__/GroupCardDetails.js
  components/__tests__/__snapshots__/GroupAddress.js.snap
  components/__tests__/__snapshots__/GroupCardDetails.js.snap
  docs/contributing.md
Labels: 👥 GROUPS

#239 Release 20200614
  .eslintignore
  .github/release-drafter.yml
  .github/workflows/prod-publish.yml
  .prettierignore
  components/GroupCardDetails.js
  components/__tests__/GroupAddress.js
  components/__tests__/GroupCardDetails.js
  components/__tests__/__snapshots__/GroupAddress.js.snap
  components/__tests__/__snapshots__/GroupCardDetails.js.snap
  config/connect.js
  data/blogPosts.js
  docs/contributing.md
  ios/Podfile.lock
  package-lock.json
  package.json
  screens/Home.js
Labels: patch, 🏠 HOME, 👥 GROUPS

#243 fix blog post date and don't store posts in AsyncStorage
  data/blogPosts.js
  screens/Home.js
Labels: 🏠 HOME

#244 show more blog & IG posts
  data/blogPosts.js
  data/instagram.js
Labels: 🏠 HOME

#248 get 10 blog posts and fix the publish date
  data/blogPosts.js
  screens/Home.js
Labels: 🏠 HOME, 🐛 bug

#251 use https for fetching wordpress data
  data/blogPosts.js
  docs/api.md
  screens/Missions.js
Labels: 🏠 HOME, 🐛 bug, 🤜 🤛 CONNECT

#252 fix post sorting so it's chronological, but blogs come first
  screens/Home.js
Labels: 🏠 HOME, 🐛 bug

#253 Release 20200615
  .github/release-drafter.yml
  components/shared/__tests__/__snapshots__/Checkbox.js.snap
  config/connect.js
  data/blogPosts.js
  data/instagram.js
  docs/api.md
  package-lock.json
  package.json
  screens/Home.js
  screens/Missions.js
Labels: 🏠 HOME, 🤜 🤛 CONNECT

#254 fix groups co-ed filter and blog post date
  data/blogPosts.js
  screens/Groups.js
Labels: 🏠 HOME, 🐛 bug, 👥 GROUPS

#256 Release 20200616
  .github/CODEOWNERS
  data/blogPosts.js
  screens/Groups.js
Labels: patch, 🏠 HOME, 👥 GROUPS

#258 Added commit SHA to the connect page
  screens/Giving.js
Labels: 💰 GIVING

#259 Release 20200616_1
  .github/workflows/dev-publish.yml
  .github/workflows/prod-publish.yml
  screens/Giving.js
Labels: 💰 GIVING

#261 dont cache the wordpress posts
  data/blogPosts.js
Labels: 🏠 HOME, 🐛 bug

#262 Release 20200618
  data/blogPosts.js
Labels: patch, 🏠 HOME

#260 add featured card for the hope project
  .eslintrc
  assets/images/children.png
  assets/images/discussion.jpg
  assets/images/felipe.jpg
  assets/images/tidying_up.png
  components/FeaturedCard.js
  components/HomeCard.js
  components/shared/Typography/Text.js
  navigation/AppNavigator.js
  resources.js
  screens/Featured.js
  screens/FeaturedDetails.js
  screens/Home.js
Labels: ✨ enhancement, 🏠 HOME

#263 Updated to make SHA smaller
  .github/workflows/dev-publish.yml
  screens/Giving.js
Labels: 💰 GIVING

#265 open HP blog posts in an expo webbrowser
  ios/Podfile.lock
  package-lock.json
  package.json
  screens/Featured.js
  screens/FeaturedDetails.js
Labels: ✨ enhancement

#264 Fix YouTube thumbnails
  data/__tests__/__snapshots__/youtube.js.snap
  data/__tests__/youtube.js
  data/youtube.js
  screens/Media.js
  screens/Playlist.js
Labels: 📽 MEDIA

#266 Release 20200621
  .eslintrc
  README.md
  assets/images/children.png
  assets/images/discussion.jpg
  assets/images/felipe.jpg
  assets/images/tidying_up.png
  components/FeaturedCard.js
  components/HomeCard.js
  components/shared/Typography/Text.js
  data/__tests__/__snapshots__/youtube.js.snap
  data/__tests__/youtube.js
  data/youtube.js
  ios/Podfile.lock
  navigation/AppNavigator.js
  package-lock.json
  package.json
  resources.js
  screens/Featured.js
  screens/FeaturedDetails.js
  screens/Giving.js
  screens/Home.js
  screens/Media.js
  screens/Playlist.js
Labels: patch, 🏠 HOME, 💰 GIVING, 📽 MEDIA

#274 use new groups catgory endpoint and fix featured card
  data/__tests__/__snapshots__/groups.js.snap
  data/groups.js
  screens/Featured.js
  screens/Groups.js
Labels: 🐛 bug, 👥 GROUPS
