Repository echo-labs-team/the-resonance-project, pull requests merged in 2020-03, with the labels that each got.

#58 fix tab bar and add UI polish ✨
  App.js
  components/GroupCardDetails.js
  components/GroupFilterModal.js
  components/HomeCardPlaceholder.js
  components/ModalSheet.js
  components/Text.js
  components/__tests__/__snapshots__/GroupAddress.js.snap
  components/__tests__/__snapshots__/GroupCardDetails.js.snap
  components/__tests__/__snapshots__/GroupLocation.js.snap
  components/__tests__/__snapshots__/GroupsError.js.snap
  components/__tests__/__snapshots__/ModalSheet.js.snap
  components/__tests__/__snapshots__/Text.js.snap
  constants/TextStyles.js
  data/instagram.js
  ios/Podfile.lock
  navigation/MainTabNavigator.js
  package-lock.json
  package.json
  screens/Activate.js
  screens/Baptism.js
  screens/Connect.js
  screens/Giving.js
  screens/GroupDetails.js
  screens/Groups.js
  screens/Home.js
  screens/Locations.js
  screens/Media.js
  screens/Missions.js
  screens/PrayerRequests.js
  screens/Volunteer.js
  utils/header.js
  website/package.json
  website/yarn.lock
Labels: 🏠 HOME, 👥 GROUPS, 💰 GIVING, 📽 MEDIA, 🤜 🤛 CONNECT

#60 use `react-native-safe-area-context` and add more asyncstorage
  App.js
  navigation/AppNavigator.js
  navigation/MainTabNavigator.js
  package-lock.json
  package.json
  screens/Activate.js
  screens/Baptism.js
  screens/Connect.js
  screens/Giving.js
  screens/GroupDetails.js
  screens/Groups.js
  screens/Home.js
  screens/Locations.js
  screens/Media.js
  screens/Missions.js
  screens/PrayerRequests.js
  screens/Volunteer.js
Labels: 🏠 HOME, 👥 GROUPS, 💰 GIVING, 📽 MEDIA, 🤜 🤛 CONNECT

#61 Updated live experience in Media and other UI polish
  .gitignore
  android/app/build.gradle
  android/app/src/main/assets/shell-app-manifest.json
  android/app/src/main/assets/shell-app.bundle
  android/app/src/main/java/host/exp/exponent/generated/AppConstants.java
  app.json
  components/GroupFilterModal.js
  components/LiveCard.js
  flow-typed/npm/expo-cli_vx.x.x.js
  flow-typed/npm/react-native-hyperlink_vx.x.x.js
  flow-typed/npm/react-native-reanimated_vx.x.x.js
  flow-typed/npm/react-native-safe-area-context_vx.x.x.js
  flow-typed/npm/react-native-safe-area-view_vx.x.x.js
  flow-typed/npm/react-native-screens_vx.x.x.js
  ios/Podfile.lock
  ios/echo-church.xcodeproj/project.pbxproj
  ios/echo-church/Supporting/shell-app-manifest.json
  ios/echo-church/Supporting/shell-app.bundle
  navigation/MainTabNavigator.js
  package-lock.json
  package.json
  screens/Media.js
Labels: 👥 GROUPS, 📽 MEDIA

#62 update amplitude instrumentation
  App.js
  README.md
  components/AskAboutGroupModal.js
  components/GroupAddress.js
  components/GroupCardDetails.js
  components/GroupFilterModal.js
  components/GroupsError.js
  components/JoinGroupModal.js
  components/ModalSheet.js
  components/__tests__/__snapshots__/ModalSheet.js.snap
  data/blogPosts.js
  data/groups.js
  data/instagram.js
  flow-typed/npm/axios_v0.19.x.js
  navigation/MainTabNavigator.js
  screens/Activate.js
  screens/Baptism.js
  screens/Connect.js
  screens/Giving.js
  screens/GroupDetails.js
  screens/Groups.js
  screens/Home.js
  screens/Locations.js
  screens/Media.js
  screens/Missions.js
  screens/PrayerRequests.js
  screens/Volunteer.js
Labels: 🏠 HOME, 👥 GROUPS, 💰 GIVING, 📽 MEDIA, 🤜 🤛 CONNECT

#63 updated loading screen for media and manifest files
  android/app/src/main/assets/shell-app-manifest.json
  android/app/src/main/assets/shell-app.bundle
  android/app/src/main/java/host/exp/exponent/generated/AppConstants.java
  ios/echo-church/Supporting/shell-app-manifest.json
  ios/echo-church/Supporting/shell-app.bundle
  screens/Media.js
Labels: 📽 MEDIA

#69 clean up UI and animate live recording circle
  .eslintrc
  components/AskAboutGroupModal.js
  components/GroupAddress.js
  components/GroupCardDetails.js
  components/GroupFilterModal.js
  components/GroupLocation.js
  components/GroupsError.js
  components/JoinGroupModal.js
  components/LiveCard.js
  components/ModalSheet.js
  components/ServiceTimes.js
  components/__tests__/__snapshots__/GroupAddress.js.snap
  components/__tests__/__snapshots__/GroupCardDetails.js.snap
  components/__tests__/__snapshots__/GroupLocation.js.snap
  components/__tests__/__snapshots__/GroupsError.js.snap
  components/shared/Button.js
  components/shared/Spinner.js
  components/shared/Text.js
  components/shared/__tests__/Button.js
  components/shared/__tests__/Text.js
  components/shared/__tests__/__snapshots__/Button.js.snap
  components/shared/__tests__/__snapshots__/Text.js.snap
  data/blogPosts.js
  flow-typed/npm/expo-cli_vx.x.x.js
  package-lock.json
  package.json
  screens/Activate.js
  screens/Baptism.js
  screens/Connect.js
  screens/Giving.js
  screens/GroupDetails.js
  screens/Groups.js
  screens/Home.js
  screens/Locations.js
  screens/Media.js
  screens/Missions.js
  screens/PrayerRequests.js
  screens/Volunteer.js
Labels: 🏠 HOME, 🐛 bug, 👥 GROUPS, 💰 GIVING, 📽 MEDIA, 🤜 🤛 CONNECT

#71 fix Locations analytics
  screens/Locations.js
Labels: 🤜 🤛 CONNECT

#72 show blog posts first, then VOTD, then IG
  screens/Home.js
Labels: 🏠 HOME

#74 decode html entities in blog post titles
  data/blogPosts.js
  package-lock.json
  package.json
Labels: 🏠 HOME, 🐛 bug

#75 sort posts decending by date and use all IG post types
  data/blogPosts.js
  data/instagram.js
  screens/Home.js
Labels: ✨ enhancement, 🏠 HOME

#77 upgrade react-navigation to v5 and refactor navigation
  components/GroupCardDetails.js
  components/__tests__/GroupCardDetails.js
  components/__tests__/ModalSheet.js
  components/__tests__/SearchBar.js
  components/shared/__tests__/Text.js
  flow-typed/npm/@react-native-community/masked-view_vx.x.x.js
  flow-typed/npm/@react-navigation/bottom-tabs_vx.x.x.js
  flow-typed/npm/@react-navigation/native_vx.x.x.js
  flow-typed/npm/@react-navigation/stack_vx.x.x.js
  flow-typed/npm/html-entities_vx.x.x.js
  flow-typed/npm/react-native-reanimated_vx.x.x.js
  flow-typed/npm/react-native-screens_vx.x.x.js
  navigation/AppNavigator.js
  navigation/MainTabNavigator.js
  package-lock.json
  package.json
  screens/Activate.js
  screens/Baptism.js
  screens/Connect.js
  screens/Giving.js
  screens/GroupDetails.js
  screens/Groups.js
  screens/Home.js
  screens/Locations.js
  screens/Media.js
  screens/Missions.js
  screens/PrayerRequests.js
  screens/Volunteer.js
  utils/header.js
  utils/useHandleTabChange.js
Labels: dependencies, ✨ enhancement, 🏠 HOME, 👥 GROUPS, 💰 GIVING, 📽 MEDIA, 🤜 🤛 CONNECT

#81 update docs 📜
  .github/CODEOWNERS
  README.md
  data/verseOfTheDay.js
  docs/README.md
  docs/api.md
  docs/contributing.md
  docs/getting-started.md
  docs/overview.md
  website/README.md
  website/blog/2016-03-11-blog-post.md
  website/blog/2017-04-10-blog-post-two.md
  website/blog/2017-09-25-testing-rss.md
  website/blog/2017-09-26-adding-rss.md
  website/blog/2017-10-24-new-version-1.0.0.md
  website/core/Footer.js
  website/i18n/en.json
  website/package.json
  website/pages/en/help.js
  website/pages/en/index.js
  website/sidebars.json
  website/siteConfig.js
  website/static/css/custom.css
  website/static/img/favicon.ico
  website/static/img/undraw_code_review.svg
  website/static/img/undraw_fishing.svg
  website/static/img/undraw_having_fun.svg
  website/static/img/undraw_mobile.svg
  website/static/img/undraw_mobile_app.svg
  website/static/img/undraw_react.svg
  website/static/img/undraw_science.svg
  website/static/img/undraw_team_spirit.svg
  website/yarn.lock
Labels: 🏠 HOME

#95 add support for CTAs in the Connect tab
  components/__tests__/__snapshots__/GroupsError.js.snap
  components/__tests__/__snapshots__/ModalSheet.js.snap
  components/shared/Button.js
  components/shared/__tests__/__snapshots__/Button.js.snap
  config/connect.js
  screens/Connect.js
Labels: 🤜 🤛 CONNECT

#83 fixed the url for live services
  screens/Media.js
Labels: 📽 MEDIA

#97 format everything after the `prettier` upgrade
  App.js
  babel.config.js
  components/AskAboutGroupModal.js
  components/GroupAddress.js
  components/GroupCardPlaceholder.js
  components/GroupFilterModal.js
  components/HomeCardPlaceholder.js
  components/JoinGroupModal.js
  components/shared/Text.js
  data/blogPosts.js
  data/groups.js
  data/verseOfTheDay.js
  flow-typed/npm/@babel/plugin-proposal-optional-chaining_vx.x.x.js
  flow-typed/npm/@babel/preset-flow_vx.x.x.js
  flow-typed/npm/@react-navigation/native_vx.x.x.js
  flow-typed/npm/eslint-config-prettier_vx.x.x.js
  flow-typed/npm/expo-cli_vx.x.x.js
  flow-typed/npm/flow-typed_vx.x.x.js
  flow-typed/npm/lint-staged_vx.x.x.js
  flow-typed/npm/prettier_vx.x.x.js
  flow-typed/npm/react-native-modal_vx.x.x.js
  flow-typed/npm/react-native-screens_vx.x.x.js
  screens/Activate.js
  screens/Baptism.js
  screens/Connect.js
  screens/Giving.js
  screens/GroupDetails.js
  screens/Groups.js
  screens/Home.js
  screens/Locations.js
  screens/Media.js
  screens/Missions.js
  screens/PrayerRequests.js
  screens/Volunteer.js
  utils/useHandleTabChange.js
Labels: 🏠 HOME, 👥 GROUPS, 💰 GIVING, 🤜 🤛 CONNECT

#99 fix VOTD & CTA scrollview, add giving online, add COVID message
  data/verseOfTheDay.js
  screens/Connect.js
  screens/Giving.js
  screens/Home.js
  screens/Locations.js
  screens/Media.js
Labels: 🏠 HOME, 💰 GIVING, 📽 MEDIA, 🤜 🤛 CONNECT

#102 fix volunteer form link
  screens/Volunteer.js
Labels: 🤜 🤛 CONNECT
